<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Call Number
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button color="tertiary" (click)="callNow('+6281315624236')">Call Now</ion-button>
  </div>
</ion-content>
